{% extends "boiler.html" %}
{%block start%}
    <header>
        <h1>Welcome to My Website</h1>
    </header>

    <a href="/about/"> Go to about page</a>

    <a href="/contact/"> Go to contact page</a>

    {{people}}
    <table class="container">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Name</th>
                <th>Age</th>
                <th>Can Vote</th>
            </tr>
        </thead>
        <tbody>
            {%for p in people%}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{p.name}}</td>
                <td>{{p.age}}</td>
                <td {%if p.age < 18%} style="background:red" {%endif%}>
                    {%if p.age >= 18%} yes
                    {%else%} no
                    {%endif%}
                </td>
            </tr>
            {%endfor%}
            {% comment %} <tr>
                <td>Row 2, Cell 1</td>
                <td>Row 2, Cell 2</td>
                <td>Row 2, Cell 3</td>
            </tr> {% endcomment %}
        </tbody>
    </table>

    <p>{{text}}</p>

    <main>
        <p>This is a starter template for your index.html file.</p>
    </main>

    <footer>
        <p>&copy; 2026 My Website</p>
    </footer>

    <!-- Link your external JavaScript file here -->
    {% comment %} <script src="script.js"></script> {% endcomment %}
{%endblock%}